body{
    background-color: rgba(151, 253, 210, 0.808);
}
h1{
    text-align: center;
    font-size: 40px;
  
}
button {
background-color: rgb(66, 198, 255);
border-radius: 10px;

font-size: 20px;
margin: 15px;
width: 250px;
height: auto;
border-color: rgb(15, 15, 15);
}
