.bloc1 {
	background-color: #26C4EC;
	height: 60px;
	width : 100%;
	margin-bottom :4px;
    text-align: center;
	font-size: 40px;

}

.image{
	
	border: 3px solid #26C4EC;
	padding: auto;
	height: 250%;
	width: 98%;
	
	float: right;
}
.titre {
	
	background-color: white;
	border : 2px solid #26C4EC;
	padding: auto;
	margin :auto;
	font-size: 25px;
}
.bloc2 {
	border: 2px solid #26C4EC;
	background-color: white;
	height: 25%;
	width : 30%;
	float: left;
	margin-left: 25px;
	font-size: 30px;
}


.bloc3 {
	border: 2px solid #26C4EC;
	background-color: white;
	height: 25%;
	width: 33%;
	float: left;
	margin-left: 20px;
	font-size: 30px;
	
	}


.bloc4{
	
	

	height: 25%;
	width: 30%;
	float: right;
	
	
	
	
}

.bloc5{
	background-color: rgb(70, 196, 255);
	height: 60px;
	width : 100%;
	margin-bottom :4px;
    text-align: center;
	font-size: 40px;

     clear:both;
	
}