.bloc1 {
	background-color: yellow;
	height: 50px
	width:50px;
	float: left;
	margin:10px;

}


.bloc2 {
	background-color: green;
	height: 10px
	width:100px;
	float: left;
	margin-left: 250px;

}

.bloc3{
	background-color: red;
	height: 10%;
	width: 10%;
	float:left;
	margin-left: 100px;
	}


.image{

	border: 3px solid #26C4EC;
	padding: auto;
	height: 20%;
	width: 35%;
	
	float: right;
	

	}