body {
    background-color: rgb(223, 142, 255);
}

.container{
    width: 70%;
    align-items: center;
    margin: auto;
    border: 2px solid white;
    border-radius: 16px;

}

input {
    margin: 20px;
    border-color: rgb(202, 150, 252);
    border-radius: 0%;
    width: 250px;
    height: 70px;
}

button {
    padding: 20px;
    margin: 30px;
}

#result{
    background-color: rgb(154, 78, 241);
    text-align: center;
    padding: 30px;
    width: 40%;
    margin: auto;
    border: 2px solid rgba(215, 147, 255, 0.74);
    border-radius: 50px;
}